<section class='mkt-four-image-text-quadrant'>
  <div>
    <img src="{{standardFourImageTextQuadrant.block1.image.uploadDestinationId}}" >
    <h4 class='sub-title'>
      {{standardFourImageTextQuadrant.block1.headline.value}}
    </h4>
    <div>
      {{#each standardFourImageTextQuadrant.block1.body.textList}}
        {{> text value=value }}
      {{/each}}
    </div>
  </div>
  <div>
    <img src="{{standardFourImageTextQuadrant.block2.image.uploadDestinationId}}" >
    <h4 class='sub-title'>
      {{standardFourImageTextQuadrant.block2.headline.value}}
    </h4>
    <div>
      {{#each standardFourImageTextQuadrant.block2.body.textList}}
        {{> text value=value }}
      {{/each}}
    </div>
  </div>
  <div>
    <img src="{{standardFourImageTextQuadrant.block3.image.uploadDestinationId}}" >
    <h4 class='sub-title'>
      {{standardFourImageTextQuadrant.block3.headline.value}}
    </h4>
    <div>
      {{#each standardFourImageTextQuadrant.block3.body.textList}}
        {{> text value=value }}
      {{/each}}
    </div>
  </div>
  <div>
    <img src="{{standardFourImageTextQuadrant.block4.image.uploadDestinationId}}" >
    <h4 class='sub-title'>
      {{standardFourImageTextQuadrant.block4.headline.value}}
    </h4>
    <div>
      {{#each standardFourImageTextQuadrant.block4.body.textList}}
        {{> text value=value }}
      {{/each}}
    </div>
  </div>
</section>